<!-- wyświetla wszystkie komentarze z naszego arraya - > Brane dane w oparciu o model-->
<ul class="comment-list">
    <li *ngFor="let comment of commentArray">
        <div class="single-comment" >
            <!--<p> Post ID: {{comment.id}}</p>-->
            <!--<p> Edit mode: {{comment.editMode}}</p>-->
            <p><span>Author:</span> {{comment.author}}</p>
            <p><span>Date:</span> {{comment.date | date:"medium"}}</p>
            <p><span>Comment:</span> {{comment.content}}</p>
            <input *ngIf="comment.editMode" name="editComment" type="text" class="form-control" id="editComment" [(ngModel)]="comment.content"/>
            <button type="button" class="btn btn-warning" value="{{comment.id}}" (click)="toggleEditMode( comment.id )" >Edit comment</button> 
            <button type="button" class="btn btn-danger" value="{{comment.id}}" (click)="deleteComment( comment.id )" >Delete comment</button> 
        </div>
    </li>
</ul>
<div id="comment-form">
    <button class="btn btn-primary" (click)="toggleAddCommentMode()" >Add new comment</button>
    <form #myForm="ngForm" name="myform" *ngIf="inAddCommentMode" (ngSubmit)="setNewComment()">
        <h2>Add a comment on above post:</h2>
        <div class="form-group">
            <label for="author">Author's name</label>
            <input name="author" type="text" class="form-control" id="author" [(ngModel)]="author"  placeholder="Your name" required minlength="3">         
        </div>
        <div class="form-group">
            <label for="comment">Your comment</label>
            <textarea name="comment"class="form-control" id="comment" [(ngModel)]="authorsComment"  rows="3" placeholder="Your comment" required minlength="5"></textarea>
        </div>
        <button id="submit-form" type="submit" class="btn btn-primary" >Save comment</button> <!--(click)="setNewComment()"-->
    </form>
</div>
    


